<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Permissions for network access, location, and caching -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:targetApi="33" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuluyanApp" >
        <activity
            android:name=".fragments.TenantRentNowBoardingHouse"
            android:exported="false" />
        <activity
            android:name=".fragments.TenantViewsBoardingHouse"
            android:exported="false" />
        <activity
            android:name=".UserChangePass"
            android:exported="false" />
        <activity
            android:name=".fragments.EditBoardingHouseActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.OwnerSettings"
            android:exported="false" />
        <activity
            android:name=".fragments.OwnerEditProfile"
            android:exported="false" />
        <activity
            android:name=".fragments.TenantEditProfile"
            android:exported="false" />
        <activity
            android:name=".UserApplication"
            android:exported="false" />
        <activity
            android:name=".fragments.TenantSettings"
            android:exported="false" />
        <activity
            android:name=".fragments.Chatfunction"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.TenantHelp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OwnerLogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserLogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserCreateAccActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OwnerCreateAccActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ownerfgp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Userfgp"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>